body {
    margin: 0 auto;
    font-family: Helvetica;
    color: #444;
}
nav {
    font-size:2em;
}
#bg {
    position: fixed;
    top: 4rem;
    left: 30%;

    /* Preserve aspet ratio */
    min-width: 150%;
    min-height: 150%;
	z-index: -1;
    opacity: 0.2;
}
.zone {
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

a:hover {
    color: #2c3e50;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}
.push {
    margin-left: auto;
}
li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}
.sticky {
  z-index: 1;
  width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
}

.cover {
    width:100%;
    height:100%;
}
.coverText {
    font-weight: bold;
    margin-top: 4em;
    margin-bottom: 4em;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.coverText > h1 {
    font-size: 10em;
    text-align: center;
    font-weight: 300;
    letter-spacing: -.2rem;
    margin: 0.2em;
}

.coverText > h2 {
    font-size: 2em;
    text-align: center;
    font-style: italic;
    color: #666;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
}
.card {
    background-color: rgba(50, 50, 50, 0.8);
    margin: 20px;
    color: #ddd;
    padding: 0.5em;
    border-radius: 0.2em;
}
.card > svg {
    max-width: 50%;
    height: auto;
    margin: 0 30%;
}
.card h2 {
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
}
.card > .text {
    padding: 0 20px 20px;
}
.button {
    cursor: pointer;
    background: #3498db;
    border: 0;
    font-size: 1rem;
    padding: 10px;
    width: 90%;
    margin: auto;
    display: block;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: #686de0;
    color: #fff;
}
.blue {
    background: #2980b9;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #1abc9c;
}
.svg-icon circle {
    stroke: #1abc9c;
    stroke-width: 1;
}
